.layoutBlog {
	.billboard-blog {
		position: relative;
		margin-top: 90px;
		height: 160px;
		border-bottom: 8px solid #A3721D; 
		background: #BC8320 no-repeat center -45px/cover fixed;
		margin-bottom: 30px;

		.text-content {

			h1 {
				color: #ffffff;
				font-size: 48px;
				margin: 50px 0 50px 0;
			}
		}
	}

	.back-to {
		margin-bottom: 15px;

		a {
			color: #BC8320;
		}
	}

	.subTitle {
		color: #777777;
		margin-top: 0;
		margin-bottom: 25px;
		display: inline-block;
    	padding-left: 8px;
	}

	article {
		padding: 15px;
	    border-bottom: 4px solid #BC8320;
	    background: #ffffff;
	    margin-bottom: 30px;

	    h2 {
	    	margin-top: 10px;

	    	a {
	    		&:hover {
		    		color: #4B5019;
		    		cursor: pointer;
		    	}
	    	}
	    }

	    .date {
			text-transform: capitalize;
			font-size: 12px;
			color: #BC8320;
			font-weight: 600;
		}	

		.category a {
			text-decoration: underline;
			color: #777777;

			&:hover {
				text-decoration: none;
			}
		}

		.post-thumbnail {
			padding: 10px 0;
		    display: block;
		    cursor: pointer;
		}

		.excerpt-blog p {
		    margin-top: 10px;
		    text-align: justify;
		}

		&:first-child {
		    margin-top: 45px;
		}
	}

	.sidebar {

		.search {
			position: relative;

			input.search-input {
			    width: 100%;
			    border: 1px solid #CCCCCC;
			    padding: 10px 40px 10px 10px;
			    outline: none;

			    &:focus {
			    	border: 1px solid #88923A;
			    }
			}

			.glyphicon-search {
				position: absolute;
				top: 15px;
				right: 15px;
			}
		}

		.sidebar-widget {
			
			h3 {
				margin-top: 40px;
			}

			ul {
				li {
					padding-bottom: 5px;
					a {
						text-transform: Capitalize;
						color: #88923A;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.single {

	.back-to {
		position: absolute;
		z-index: 8999;
	}

	.post {
		padding-bottom: 40px;
		
		.post-title {
			margin-top: 10px;
			font-size: 30px;
		}

		h2 {
			margin-top: 20px;
		}

		p {
			font-size: 16px;
			// text-align: justify;
		}

		.date-content {
			margin-bottom: 20px;

			a {
				color: #777777;
			}
		}

		ul {
			padding-left: 30px;

			li {
				margin-bottom: 5px;
				font-size: 16px;

				&:before {
				    content: "•";
				    padding-right: 10px;
				    color: #BC8320;
				}

				ul {
					margin-top: 5px;
					li {
						&:before {
						    content: "•";
						    padding-right: 10px;
						    color: #777777;
						}
					}
				}
			}
		}

		ol {
			padding-left: 30px;

			li {
				margin-bottom: 5px;
				font-size: 16px;
				list-style: decimal inside;
			}
		}

		a {
			color: #BC8320;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		em {
			font-style: italic;
		}
	}
}