body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	color: #777777 !important;
	font-weight: 400 !important;
	background: #F7F7F7 !important;

	h1, h2, h3, h4, h5, h6 {
  		color: $darkGreen;
  		font-family: 'Ubuntu Condensed', sans-serif !important;
  		text-transform: uppercase;
	}

 	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	    color: $darkGreen; 
	}
}

header {
	.top-header {
		background: #686D38;
		ul {
			text-align: right;
			margin-bottom: 5px;
			margin-top: 2px;

			li {
				display: inline-block;
				color: #ffffff;
				font-size: 10px;
				vertical-align: middle;
				margin-left: 10px;

				a {
					font-size: 16px;
					color: #ffffff;
					
					&:hover {
						text-decoration: none;
						opacity: 0.7;
					}
				}
			}
		}
	}
}

a:focus {
	text-decoration: none !important;
}

.container-fluid.fluid-custom {
	padding-left: 35px;
	padding-right: 35px;
}


#site-navigation {
	// background: rgba(112, 101, 57, 0) none repeat scroll 0 0;
	// box-shadow: 0px 1px 8px #222;
	background: transparent;
	margin-bottom: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;

	.small-logo {
		text-align: left;

		img {
			width: 100px;
			height: auto;
			opacity: 0;
		}
	}

	.navbar-mobile {
		text-align: center;
		padding: 16px 0 14px;
		// display: block;

		.navbar-nav {
			float: none;
			display: inline-block;
			vertical-align: middle;

			> li {
				> a {
					font-size: 14px;
				    font-family: 'Ubuntu Condensed', sans-serif;
				    text-transform: uppercase;
				    color: #ffffff;
				    margin: 0 15px;
	    			padding: 5px 0;
	    			letter-spacing: 0.02em;

	    			&:focus {
	    				background-color: transparent;
	    			}
				}


				&.active,
				&:hover,
				&:focus,
				&.current-menu-item {
					> a {
						background: none;
						border-bottom: 2px solid $lightGreen;
					}
				}
			}	    
		} 

		.switcher {
			display: inline-block;
			float: right;

			> a {
				font-size: 10px;
				color: $x-lightGreen;
				margin: 0 5px;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
					color: $lightGreen;
				}

				&.current_language {
					border-bottom: 1px solid;
					padding-bottom: 1px;
				}
			}
		}
	}   
}


header.minify #site-navigation .small-logo img {
	opacity: 1;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header.minify {
	#site-navigation {
		background: $lightGreen;
		-webkit-transition: all 0.4s ease;
  		-moz-transition: all 0.4s ease;
  		-ms-transition: all 0.4s ease;
  		-o-transition: all 0.4s ease;
  		transition: all 0.4s ease;
		
		.navbar-mobile {
			.navbar-nav {
				> li {
					
					&.active,
					&:hover,
					&:focus,
					&.current-menu-item {
						> a {
							background: none;
							border-bottom: 2px solid $white;
						}
					}
				}	    
			} 

			.switcher {
				> a {
					color: $creme;

					&:hover {
						color: $x-lightGreen;
					}
				}
			}
		}
	}
}

// Billboard...
#hero {
	background: url("/wp-content/themes/tejiendoconciencia/images/alternativa2.jpg") no-repeat scroll top center transparent;
	background-size: cover;
	background-attachment: fixed;
	height: 650px;

	&::before {
		background: rgba(0, 0, 0, 0.30) none repeat scroll 0 0;
	    bottom: 0;
	    content: "";
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 650px;
	}

	.heroContent {
		text-align: center;
		margin-top: 135px;

		.logo {
		    width: 125px;
		    height: auto;
		    z-index: 999;
		    margin: 60px auto 0;
		    -webkit-animation: dropHeader 1 0.75s ease-in;
			animation: dropHeader 1 0.75s ease-in;
		}

		#site-description {
			font-size: 46px;
			text-align: center;
		    margin-top: 60px;
		    color: #ffffff;
			line-height: 120%;
			padding: 0 110px;
			font-weight: 400;
			text-shadow: 0 0 10px rgba(2, 2, 2, 0.95);
			-webkit-animation: fadeHeader 1 1s ease-in;
			animation: fadeHeader 1 1s ease-in; 
		}

		#more-site {
			font-family: 'Ubuntu Condensed', sans-serif !important;
			margin-top: 50px;
			border: 2px solid $lightGreen;
			color: #fff;
			font-weight: normal;
			padding: 10px 25px;
			text-transform: uppercase;
			background: $lightGreen; 
			display: inline-block;
			transition: all 0.15s ease;
			-webkit-transition: all 0.15s ease;
			-moz-transition: all 0.15s ease;
			-o-transition: all 0.15s ease;
			-ms-transition: all 0.15s ease;

		  	&:hover {
			    background: transparent;
			    border-color: $white;
			    color: $white; 
			}
		}
	}
}

// Section: preServices...
.preServices {
	margin: 80px 0;
	text-align: center;

	h2 {
		font-size: 38px;
		color: $green;	
		margin: 0 30px;	
	}

	h3 {
		font-family: 'Open Sans', sans-serif !important;
		font-weight: 300;
		font-size: 32px;
		font-style: italic;
		color: $green;
		text-transform: none;
	}
}

.main-divider.icon-needle {
    display: block;
    font-size: 24px;
    margin: 0 0 80px;
    text-align: center;
    color: $footerGreen;
}

// Section: Services...
.services {
	text-align: center;
	
	.serviceIcon {

		&:hover:before {
			font-size: 54px;
			padding: 40px;
		}

		&:before {
			border-radius: 100px;
			display: inline-block;
			font-size: 44px;
			color: #ffffff;
			padding: 45px;
			width: 135px;
			height: 135px;
			transition: all 0.15s ease;
			-webkit-transition: all 0.15s ease;
			-moz-transition: all 0.15s ease;
			-o-transition: all 0.15s ease;
			-ms-transition: all 0.15s ease;
		}	

		&.mustard:before { background: $mustard; }
		&.orange:before { background: $orange; }
		&.red:before { background: $red; }
		&.fucsia:before { background: $fucsia; }
	}

	h3 {
		margin-bottom: 20px;
		color: #555;
	}

	p {
		line-height: 170%;
		font-size: 15px;
	}

	.btns {
		margin-top: 20px;
	}
}

// Counter...
.counter {
	margin: 80px 0 0;
	text-align: center;
	background: url("/wp-content/themes/tejiendoconciencia/images/counter_bg.jpg") no-repeat scroll 0 0 #485530;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding: 80px 0;

	.bag-icon {
		font-size: 150px;
	}

	.bag-text {
		margin-top: 40px;
		font-size: 20px;
		line-height: normal;
	}

	h2 {
		color: #ffffff;
		font-size: 44px;
	}

	.timer {
		display: inline-block;
		margin: 30px 0;
	    border: 3px solid;
	    border-radius: 10px;
	    font-family: 'Ubuntu Condensed', sans-serif !important;
	    font-size: 100px;
	    font-weight: 600;
	    line-height: normal;
	    padding: 5px 0;
	    width: 370px;
	}

	.dataplus:after {
		content: "+";
		margin-left: 5px;
	} 
}


// Feed Blog section...
.feed-blog {
	margin: 80px 0;

	.equalBlog {
		overflow: visible !important;
	}

	.feed-title {
		text-align: center;
		margin-bottom: 20px;
	}

	.main-divider.icon-needle {
		margin-bottom: 40px;
	}

	.featured-post {
		background: #bc8320;
		border-bottom: 1px solid #bc8320;

		.thumb-image {
			img {
				width: 100%;
				height: auto;
			}
		}

		.content-post {
			background: #BC8320;
			padding: 20px 30px;
			color: #FFFFFF;

			h2 {
				line-height: 80%;
				margin-top: 0;

				a {
					font-size: 22px;
					color: #FFFFFF;
				}
			}

			.date {
				font-size: 12px;
				text-transform: capitalize;
			}

			p {
				margin-bottom: 5px;

				.view-article {
				    font-size: 12px;
				    display: block;
				    margin-top: 20px;
				    border: 1px solid #fff;
				    width: 85px;
				    padding: 5px;
				    text-align: center;
				    vertical-align: middle;
				    color: #fff;
				    border-radius: 3px;

				    &:hover{
				    	text-decoration: none;
				    	background: #FFFFFF;
				    	color: #BC8320;
				    }
				}
			}
		}
	}

	.regular-posts {

		article {
			border-bottom: 1px solid #BC8320;
			padding-bottom: 30px;
			margin-bottom: 30px;
			overflow: hidden;

			&:last-child {
				// border-bottom: none;
				padding-bottom: 27px;
			}

			.thumb-image img {
				width: 120px;
				height: auto;
				float: left;
				margin-right: 20px;
				// margin-bottom: 20px;
			}

			h2 {
				line-height: 60%;
				margin-top: 0;
				margin-bottom: 5px;

				a {
					font-size: 18px;
					color: #555;

					&:hover {
						color: #555;
					}
				}
			}

			.date {
				text-transform: capitalize;
				font-size: 12px;
				color: #BC8320;
				font-weight: 600;

				// &:after {
				// 	content: "·";
				// 	margin: 0 0 0 5px;
				// }
			}

			// .category {
			// 	a {
			// 		font-size: 12px;
			// 		color: #BC8320;
			// 		font-weight: 600;
			// 	}	
			// }

			p {
				margin-bottom: 0;
				margin-top: 5px;
			}
		}
	}
}

span.small-line {
	border-top: 1px solid #FFFFFF;
	width: 70px;
	display: block;
	margin: 15px 0;
}


// Footer ...

.footer {
	background: $footerBlack;
	padding: 15px 0;

	.footer-logo {
		margin-bottom: 10px;

		img {
			width: 100px;
		}	
	}

	.copyright {
		color: #FFFFFF;
		font-size: 12px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	.mailto {
		text-align: right;
		a {
			color: #FFFFFF;
			font-size: 12px;
			display: inline-block;
			vertical-align: middle;
		}	
	}

	.footer-social {
		text-align: center;

		ul {
			margin-bottom: 0;

			li {
				display: inline-block;
				font-size: 14px;
				color: #FFFFFF;

				&:first-child {
					display: none;
				}

				a {
					color: #ffffff;
					font-size: 20px;
					margin: 0 10px;
					vertical-align: middle;
					line-height: normal;

					&:hover {
						text-decoration: none;
						opacity: 0.7;
					}
				}
			}
		}
	}
}