.social {
	.billboard-pages {
		background-position: 0 -45px !important;
	}

	.content-wrapper {

		a {
			color: #88923A;
			text-decoration: underline;

			&:hover {
				color: #88923A;			
				text-decoration: none;
			}
		}
	}
}